Esercizio 1
Dichiarare una variabile "numero_intero" e assegnargli un valore intero. Mandare a schermo il tipo della variabile per conferma.

In [3]:
numero_intero = 10
type(numero_intero)

int

Esercizio 2
Dichiarare una variabile "numero_decimale" e assegnargli un valore float. Mandare a schermo il tipo della variabile per conferma.

In [4]:
numero_decimale = 5.5
type(numero_decimale)

float

Esercizio 3
Creare una variabile "testo" e assegnargli una stringa contenente una frase. Mandare a schermo il tipo della variabile per conferma.

In [5]:
testo = "ciao sono Silvio"
type(testo)

str

Esercizio 5
Creare una lista "numeri" contenente 5 numeri interi. Mandare a schermo il tipo della variabile per conferma.

In [6]:
lista_numeri = [1,2,3,4,5]
type(lista_numeri)

list

Esercizio 6
Creare una lista "misti" contenente un numero intero, un numero float, una stringa e un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [9]:
lista_mista = [10, 10.5,"Esempio",False]
type(lista_mista)

list

Esercizio 7
Creare una tupla "giorni_settimana" contenente i giorni della settimana come stringhe. Mandare a schermo il tipo della variabile per conferma.

In [10]:
giorni_settimana = ("lunedi","martedi","mercoledi","giovedi","venerdi","sabato","domenica")
type(giorni_settimana)

tuple

Esercizio 8
Creare un dizionario "informazioni_personali" contenente il tuo nome, cognome, età e città di residenza. Mandare a schermo il tipo della variabile per conferma.

In [15]:
informazioni_personali = {
    "nome" : "Silvio",
    "cognome": "Coppa",
    "eta": 25,
    "citta di residenza": "Napoli"
}
type(informazioni_personali)

dict